! IP SLA 

track 10 rtr 10 reachability
! up/down is three times frequency of ip sla probe
! determine if delay is needed or not - in testing it is slow.
! delay down 60 up 60 
!
track 20 rtr 20 reachability
! determine if delay is needed or not - in testing it is slow.
! delay down 60 up 60
!
! boolean OR to check that all sites are down.
track 30 list boolean or
object 10
object 20

ip sla 10
icmp-echo {{ test_ip1 }} source-interface {{ internet_interface }}
timeout 500
threshold 500
frequency 20
ip sla schedule 10 life forever start-time now
ip sla 20
icmp-echo {{ test_ip2 }} source-interface {{ internet_interface }}
timeout 500
threshold 500
frequency 20
ip sla schedule 20 life forever start-time now
!
! 
ip route 0.0.0.0 0.0.0.0 {{ firewall_lan_ip }} track 30 

! the static routes below are needed for failback.
ip route {{ test_ip1 }} 255.255.255.255 {{ firewall_lan_ip }} 
ip route {{ test_ip2 }} 255.255.255.255 {{ firewall_lan_ip }} 
