!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
! All systems in an l2 doman should be the same for the below command
! spanning-tree pathcost method long
vtp mode transparent

spanning-tree portfast bpduguard default
!
