[defaults]
inventory=./hosts
gathering=explicit
transport=local
retry_files_enabled=false
library = /usr/local/lib/python3.5/dist-packages/napalm_ansible/modules
action_plugins = /usr/local/lib/python3.5/dist-packages/napalm_ansible/plugins/action

