!VLAN Database
{% for vlan in config %}
vlan {{ vlan.id }}
    name {{ vlan.name }}
{% endfor %}
{% for vlan in config %}
{% if vlan.spt %}
spanning-tree vlan {{ vlan.id }} root {{ vlan.spt }}
{% endif %}
{% endfor %}

